.loader {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.loader__container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: $l-size;
    padding: 0 $m-size;
    max-width: 80rem;
}

.loader__image {
    height: 6rem;
    width: 6rem;
}

.loader__image__small {
    justify-content: center;
    height: 3rem;
    width: 3rem;
}